<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.QfMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qf.domain.QfMenu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="perms" property="perms" />
        <result column="type" property="type" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="del_status" property="delStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        m.id, m.name, m.icon, m.path, m.component, m.perms, m.type, m.parent_id, m.order_num, m.del_status, m.create_time, m.update_time, m.create_by, m.update_by
    </sql>

    <select id="listMenu" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from qf_menu m ${ew.customSqlSegment}
    </select>

    <select id="listPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from qf_menu m ${ew.customSqlSegment}
    </select>

    <select id="listByroleId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from qf_menu m left join qf_role_menu rm
            on m.id = rm.menu_id
        where rm.role_id = #{roleId}
    </select>

    <select id="listByuId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
            FROM qf_menu m
                LEFT JOIN qf_role_menu rm
                    on m.id = rm.menu_id
                LEFT JOIN qf_role r
                    on r.id = rm.role_id
                LEFT JOIN qf_user_role ur
                    on ur.role_id = r.id
                LEFT JOIN qf_user u
                    on ur.user_id = u.id
            WHERE u.id = #{uId}
            GROUP BY m.id
    </select>

    <select id="selectByParentId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from qf_menu m where m.del_status=0 and m.id = #{pid,jdbcType=BIGINT}
    </select>
    <select id="getRoutesById" resultType="com.qf.domain.QfMenu">
        select <include refid="Base_Column_List"></include>
            from qf_menu m
                LEFT JOIN qf_role_menu rm
                    on m.id = rm.menu_id
                LEFT JOIN qf_role r
                    on r.id = rm.role_id
            where m.parent_id = #{parentId}
              and
                m.del_status = 0
              and
                r.id = #{rId}
    </select>

</mapper>
