<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.qf.domain.User">
        <id column="uid" jdbcType="BIGINT" property="id" />
        <result column="udeleteStatus" jdbcType="INTEGER" property="deleteStatus" />
        <result column="ucreateTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="uupdateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="uusername" jdbcType="VARCHAR" property="username" />
        <result column="unickname" jdbcType="VARCHAR" property="nickname" />
        <result column="upassword" jdbcType="VARCHAR" property="password" />
        <result column="usex" jdbcType="INTEGER" property="sex" />
        <result column="umobile" jdbcType="VARCHAR" property="mobile" />
        <result column="uemail" jdbcType="VARCHAR" property="email" />
        <result column="uenabled" jdbcType="BOOLEAN" property="enabled" />
        <result column="udeptId" jdbcType="BIGINT" property="deptId" />

        <association property="dept" javaType="com.qf.domain.Dept">
            <id column="did" jdbcType="BIGINT" property="id" />
            <result column="ddeleteStatus" jdbcType="INTEGER" property="deleteStatus" />
            <result column="dcreateTime" jdbcType="TIMESTAMP" property="createTime" />
            <result column="dupdateTime" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="ddept_name" jdbcType="VARCHAR" property="deptName" />
            <result column="dorder_num" jdbcType="INTEGER" property="orderNum" />
            <result column="dmanager" jdbcType="VARCHAR" property="manager" />
            <result column="dphone" jdbcType="VARCHAR" property="phone" />
            <result column="demail" jdbcType="VARCHAR" property="email" />
            <result column="dstatus" jdbcType="BIT" property="status" />
            <result column="dcreate_by" jdbcType="VARCHAR" property="createBy" />
            <result column="dupdate_by" jdbcType="VARCHAR" property="updateBy" />
            <result column="dparent_id" jdbcType="BIGINT" property="parentId" />
        </association>

        <collection property="roles" ofType="com.qf.domain.Role">
            <id column="rid" jdbcType="BIGINT" property="id" />
            <result column="rdeleteStatus" jdbcType="INTEGER" property="deleteStatus" />
            <result column="rcreateTime" jdbcType="TIMESTAMP" property="createTime" />
            <result column="rupdateTime" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="rname" jdbcType="VARCHAR" property="name" />
            <result column="rtag" jdbcType="VARCHAR" property="tag" />
        </collection>

        <collection property="perms" ofType="com.qf.domain.Perm">
            <id column="pid" jdbcType="BIGINT" property="id" />
            <result column="pdeleteStatus" jdbcType="INTEGER" property="deleteStatus" />
            <result column="pcreateTime" jdbcType="TIMESTAMP" property="createTime" />
            <result column="pupdateTime" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="pname" jdbcType="VARCHAR" property="name" />
            <result column="ptag" jdbcType="VARCHAR" property="tag" />
            <result column="pmenu_id" jdbcType="BIGINT" property="menuId" />
        </collection>
    </resultMap>

    <!-- 由于关联表太多 改为子查询形式 -->
    <resultMap id="ResultMapSubSelect" type="com.qf.domain.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="deleteStatus" jdbcType="INTEGER" property="deleteStatus" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="enabled" jdbcType="BOOLEAN" property="enabled" />

        <association property="dept" column="id" javaType="com.qf.domain.Dept" select="com.redpig.mapper.DeptMapper.getDeptByUserId" />

        <collection property="roles" column="id" ofType="com.qf.domain.Role" select="com.redpig.mapper.RoleMapper.getRolesByUserId" />

        <collection property="perms" column="id" ofType="com.qf.domain.Perm" select="com.redpig.mapper.PermMapper.getPermsByUserId" />
    </resultMap>

    <select id="getByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            u.id as uid,u.deleteStatus as udeleteStatus,u.createTime as ucreateTime,u.updateTime as uupdateTime,u.username as uusername,u.nickname as unickname,u.password as upassword,u.sex as usex,u.mobile as umobile,u.enabled as uenabled,u.email as uemail,u.dept_id as udeptId,
            r.id as rid,r.deleteStatus as rdeleteStatus,r.createTime as rcreateTime,r.updateTime as rupdateTime,r.name as rname,r.tag as rtag,
            p.id as pid,p.deleteStatus as pdeleteStatus,p.createTime as pcreateTime,p.updateTime as pupdateTime,p.name as pname,p.tag as ptag,p.menu_id as pmenu_id
        from redpig_sys_user u
            left join redpig_sys_user_role ur on ur.user_id = u.id
            left join redpig_sys_role r on r.id = ur.role_id
            left join redpig_sys_user_perm up on up.user_id = u.id
            left join redpig_sys_perm p on p.id = up.perm_id
        where username = #{username,jdbcType=VARCHAR} and u.deleteStatus = 1
    </select>

    <select id="listPage" resultMap="BaseResultMap">
        select
            u.id as uid,u.deleteStatus as udeleteStatus,u.createTime as ucreateTime,u.updateTime as uupdateTime,u.username as uusername,u.nickname as unickname,u.password as upassword,u.sex as usex,u.mobile as umobile,u.enabled as uenabled,u.email as uemail,u.dept_id as udeptId,
            d.id as did,d.deleteStatus as ddeleteStatus,d.createTime as dcreateTime,d.updateTime as dupdateTime,d.dept_name as ddept_name,d.order_num as dorder_num,d.manager as dmanager,d.phone as dphone,d.email as demail,d.status as dstatus,d.create_by as create_by,d.update_by as dupdate_by,d.parent_id as dparent_id
        from redpig_sys_user u
            left join redpig_sys_dept d on d.id = u.dept_id
        ${ew.customSqlSegment}
    </select>

</mapper>